html,
body {
  margin: 0;
  padding: 0;
}

.navbar-toggler-icon {
  background-image: url("menu.png") !important;
}
.nav-link {
  color: #237CF5;
  font-family: "Lato", sans-serif;
  font-size: 0.7em;
}

.top-section {
  background-image: url("bg.png") !important;
  background-size: cover;
  height: 35em;
  margin-bottom: 3em;
}

#intro {
  color: #f9c234;
  font-weight: bolder;
  font-size: 4em;
  max-width: 12em;
  font-family: "Lato", sans-serif;
}
.first {
  margin-left: 10em;
}
#gs {
    color: #fff;
  border: none;
  border-radius: 2em;
  min-width: 10em;
  padding: 0.7em;
   background-color: #237CF5;
}

#gq {
  color: #237CF5;
  border: none;
  border-radius: 2em;
  min-width: 10em;
  padding: 0.7em;
  background-color: #f9c234;
}
#gq{
transition: transform .2s; /* Animation */
}
#gq:hover{
   transform: scale(1.1);
   background-color: #fff;
     color: #f9c234;
     font-weight: 700;

}
#gs{
transition: transform .2s; /* Animation */
}
#gs:hover{
   transform: scale(1.1);
   background-color: #fff;
     color: #237CF5;
     font-weight: 700;

}

.card{
    width: 22em;
    height: 20em;
    margin-bottom: 1em;
}

#serv{
    max-width: 12em;
    margin-left: 7em;
    font-size: 2.6em;
     color: #0548a5;
    font-family: 'Lora', serif;
}
.card-img-top{
    width: 30%;
}
.card-title{
    color: #237CF5;
}
.prop{
   background-image: url("properties.png") !important;
  background-size: cover;
  height: 22em;  
  margin-bottom: 4em;
}
.card-title2{
    color: white;
}
.sub-text2{
    color: wheat;
}

.card2{
    margin-top: 1em;
}

@media (min-width: 360px) and (max-width: 400px) {
     html,body {
    overflow-x: hidden;
  
  }
   .top-section {
  background-image: url("bg.png") !important;
  background-size: cover;
  height: 35em;
  margin-bottom: 3em;
   overflow-x: hidden;
}

#intro {
  color: #f9c234;
  font-weight: bolder;
  font-size: 2em;
  max-width: 12em;
  font-family: "Lato", sans-serif;
  margin-left: -4em;
 
} 
#gs {
 margin-left: -6em;
 margin-bottom: 1em;
}

#gq {
  margin-left: -6em;
}
#serv{
   margin-left: 0em;
   max-width:10em; 
   font-size: 2em;
}
.prop{
    height:fit-content;
}
}
@media (min-width: 401px) and (max-width: 500px){
     html,body {
    overflow-x: hidden;
  
  }
   .top-section {
  background-image: url("bg.png") !important;
  background-size: cover;
  height: 35em;
  margin-bottom: 3em;
   overflow-x: hidden;
}

#intro {
  color: #f9c234;
  font-weight: bolder;
  font-size: 2em;
  max-width: 12em;
  font-family: "Lato", sans-serif;
  margin-left: -4em;
 
} 
#gs {
 margin-left: -6em;
 margin-bottom: 1em;
}

#gq {
  margin-left: -6em;
}
#serv{
   margin-left: 0em;
   max-width:10em; 
   font-size: 2em;
}
.prop{
    height:fit-content;
}
}

@media (min-width: 501px) and (max-width: 600px){
   html,body {
    overflow-x: hidden;
  
  }
   .top-section {
  background-image: url("bg.png") !important;
  background-size: cover;
  height: 35em;
  margin-bottom: 3em;
   overflow-x: hidden;
}

#intro {
  color: #f9c234;
  font-weight: bolder;
  font-size: 2em;
  max-width: 12em;
  font-family: "Lato", sans-serif;
  margin-left: -4em;
 
} 
#gs {
 margin-left: -6em;
 margin-bottom: 1em;
}

#gq {
  margin-left: -6em;
}
#serv{
   margin-left: 0em;
   max-width:10em; 
   font-size: 2em;
}
.prop{
    height:fit-content;
}  
}

@media (min-width: 601px) and (max-width: 700px) {
    html,body {
    overflow-x: hidden;
  
  }
   .top-section {
  background-image: url("bg.png") !important;
  background-size: cover;
  height: 35em;
  margin-bottom: 3em;
   overflow-x: hidden;
}

#intro {
  color: #f9c234;
  font-weight: bolder;
  font-size: 2em;
  max-width: 12em;
  font-family: "Lato", sans-serif;
  margin-left: -4em;
 
} 
#gs {
 margin-left: -6em;
 margin-bottom: 1em;
}

#gq {
  margin-left: -6em;
}
#serv{
   margin-left: 0em;
   max-width:10em; 
   font-size: 2em;
}
.prop{
    height:fit-content;
}   
}

@media (min-width: 701px) and (max-width: 750px) {
    
}